@charset "UFT-8";

/* COLOR SCHEME https://www.color-hex.com/color/8844bb */

/* # GENERAL ************************************************************************************************* */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  color: #311845;
  font-family: 'Sarabun', sans-serif;
  font-size: 2.2vw;
  font-weight: 200;
  letter-spacing: 0.05vw;
  text-align: left; 
}

.intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vw;
}

h1 {
  color: #8844bb;
  font-size: 1.728rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 2.3rem;
  padding-bottom: 1rem;
}

h2, .larger {
  color: #6c3695;
  font-size: 1.44rem;
  font-weight: 700;
}

h3 {
  color: #512870;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding-bottom: 0.3em;
}

.italic {
  font-style: italic;
  letter-spacing: 1.2;
}

/* # HEADER AND MAIN ***************************************************************************************** */

/* ## UNDER 500PX ********************************************************************************** */

@media only screen and (max-width: 500px) {

  /* ### MAIN **************************************************************************** */
  main {
    margin-left: 30vw;
    padding: 5vw;
  }
  
  /* ### HEADER ************************************************************************** */
  header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #8844bb;
    color: white;
    font-size: 2.8vw;
    height: 100%;
    letter-spacing: 0.4vw;
    line-height: 5vw;
    padding: 5vw;
    position: fixed;
    width: 20vw; /* this and padding = same as main margin*/
  }
  
  /* ### HEADER SECTIONS ***************************************************************** */

  header section {
    width: auto;
  }
  
  header a {
    color: white;
  }
  
  header a:hover { /* idea instead of this: extend dot into line when hovering */
    color: #ffeeaa;
  }
  
  .logo {
    padding-bottom: 3vw;
    width: 100%;
  } 
  
  .name-home { /* MAYBE: integrate with logo */
    font-family: 'Ubuntu Mono', monospace;
    padding-bottom: 5vw;
  }
  
  .first-name {
    font-size: 200%;
    letter-spacing: 0.25em;
    line-height: 1.1em;
    text-transform: uppercase;
  }
  
  .last-name {
    font-size: 130%;
    letter-spacing: 0.45em;
    text-transform: lowercase;
  }
  
  .portfolio, .personal {
    padding-bottom: 5vw;
  }
  
  .social-media {
    padding-bottom: 10vw;
  }
  
}

/* ## OVER 500PX *********************************************************************************** */

@media only screen and (min-width: 500px) {

  /* ### MAIN **************************************************************************** */
  main {
    margin-left: 30vh; /* Same as the width of the sidebar + padding */
    margin-right: 5vw;
    padding: 5vh;
  }

/* ### HEADER **************************************************************************** */
  header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #8844bb;
    color: white;
    font-size: 2.8vh;
    height: 100%;
    justify-content: flex-start;
    letter-spacing: 0.4vh;
    line-height: 4vh;
    padding: 5vh;
    position: fixed;
    width: 20vh; /* this and padding = same as main margin*/
  }

  /* ### HEADER SECTIONS ***************************************************************** */
  header section {
    width: auto;
  }

  header a {
    color: white;
  }

  header a:hover { /* idea instead of this: extend dot into line when hovering */
    color: #ffeeaa;
  }

  .logo {
    padding-bottom: 3vh;
    width: 100%;
  } 

  .name-home { /* MAYBE: integrate with logo */
    font-family: 'Ubuntu Mono', monospace;
    padding-bottom: 5vh;
  }

  .first-name {
    font-size: 200%;
    letter-spacing: 0.25em;
    line-height: 1.1em;
    text-transform: uppercase;
  }

  .last-name {
    font-size: 130%;
    letter-spacing: 0.45em;
    text-transform: lowercase;
  }

  .portfolio, .personal {
    padding-bottom: 5vh;
  }

  .social-media {
    padding-bottom: 10vh;
  }
}


/* # GRID (CREATIONS) AND SUBGRIDS (THUMBNAIL + LEGEND) ****************************************************** */

/* ## UNDER 600PX ********************************************************************************** */

@media only screen and (max-width: 600px) {

  .grid {
    display: grid;
    align-items: start;
    grid-auto-flow: row;
    grid-template-columns: 57vw;
    grid-template-rows: 66vw;
    justify-items: center;
    font-size: 1.25rem;
  }

  .subgrid {
    display: grid;
    align-items: start;
    grid-template-columns: 57vw;
    grid-template-rows: 57vw 19vw;
    justify-items: center;
  }

}

/* ## OVER 600PX AND UNDER 900PX ******************************************************************* */

@media only screen and (min-width: 600px) and (max-width: 900px) {

  .grid {
    display: grid;
    align-items: start;
    grid-auto-flow: row;
    grid-template-columns: 33vw 33vw;
    grid-template-rows: 44vw;
    justify-items: center;
  }

  .subgrid {
    display: grid;
    align-items: start;
    grid-template-columns: 33vw;
    grid-template-rows: 33vw 11vw;
    justify-items: center;
  }

}


/* ## OVER 900 PX ********************************************************************************** */

@media only screen and (min-width: 900px) {

  .grid {
    display: grid;
    align-items: start;
    grid-auto-flow: row;
    grid-template-columns: 25.5vw 25.5vw 25.5vw;
    grid-template-rows: 34vw;
    justify-items: center;
    font-size: 0.8rem;
  }
  
  .subgrid {
    display: grid;
    align-items: start;
    grid-template-columns: 25.5vw;
    grid-template-rows: 25.5vw 8.5vw;
    justify-items: center;
  }

}

.thumbnail {
  align-self: stretch;
  grid-row:1;
  grid-column:1;
  justify-self: stretch;
  padding: 0 2vw 2vw 0;
}

.legend {
  align-self: start;
  justify-self: start;
  grid-row: 2;
  grid-column: 1;
  padding: 0 2vw 2vw 0;
}



/* #  GRID (SKILLS) AND SUBGRIDS (NAME + STARS) ************************************************************** */

/* ## UNDER 700PX ********************************************************************************** */
@media only screen and (max-width: 700px) {
  
  .grid-skill {
    display: grid;
    align-items: end;
    grid-auto-flow: row;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: start;
    margin-bottom: 5vw;
  }

  .subgrid-skill {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1vw;
    grid-template-columns: 25vw 20vw;
    grid-template-rows: auto;
    justify-items: start;
  }

  .skill-type {
    color: #622B8D;
    font-weight: 900;
    grid-column: 1;
    justify-self: start;
  }

  .skill-name {
    grid-column: 1; grid-row: 1;
  }

  .skill-level {
    grid-column: 2; grid-row: 1;
    height: 1.5em;
  }

  /* ### LANGUAGE SKILLS ***************************************************************** */

  .language-skills {
    grid-column: 1; grid-row: 1;
  }
  
  .english {
    grid-column: 1; grid-row: 2;
  }
  
  .spanish {
    grid-column: 1; grid-row: 3;
  }
  
  .galician {
    grid-column: 1; grid-row: 4;
  }
  
  .finnish {
    grid-column: 1; grid-row: 5;
  }
  
  .portuguese {
    grid-column: 1; grid-row: 6;
  }
  
  .html {
    grid-column: 1; grid-row: 7;
  }
  
  .css {
    grid-column: 1; grid-row: 8;
  }
  
  .csharp {
    grid-column: 1; grid-row: 9;
  }
  
  .r {
    grid-column: 1; grid-row: 10;
  }
  
  .javascript {
    grid-column: 1; grid-row: 11;
  }
  
  .binary {
    grid-column: 1; grid-row: 12;
  }
  
  
  /* ### IMAGE SKILLS ******************************************************************** */
  
  .image-software {
    grid-column: 1; grid-row: 1;
  }
  
  .lightroom {
    grid-column: 1; grid-row: 2;
  }
  
  .indesign {
    grid-column: 1; grid-row: 3;
  }
  
  .gravit {
    grid-column: 1; grid-row: 4;
  }
  
  .photoshop {
    grid-column: 1; grid-row: 5;
  }
  
  .gimp {
    grid-column: 1; grid-row: 6;
  }
  

  /* ### VIDEO SKILLS ******************************************************************** */
  
  .video-software {
    grid-column: 1; grid-row: 1;
  }
  
  .premiere {
    grid-column: 1; grid-row: 2;
  }
  
  .final-cut {
    grid-column: 1; grid-row: 3;
  }
  
  .after-effects {
    grid-column: 1; grid-row: 4;
  }
  
  .ar-studio {
    grid-column: 1; grid-row: 5;
  }
  
  
  /* ### GAME SKILLS ********************************************************************* */
  
  .game-software {
    grid-column: 1; grid-row: 1;
  }
  
  .bitsy {
    grid-column: 1; grid-row: 2;
  }
  
  .twine {
    grid-column: 1; grid-row: 3;
  }
  
  .unity {
    grid-column: 1; grid-row: 4;
  }
  

  /* ### CITATION SKILLS ***************************************************************** */
  
  .citation-software {
    grid-column: 1; grid-row: 1;
  }
  
  .zotero {
    grid-column: 1; grid-row: 2;
  }
  
  .refworks {
    grid-column: 1; grid-row: 3;
  }
  
  .endnote {
    grid-column: 1; grid-row: 4;
  }
  
  
  /* ### ART SKILLS ********************************************************************** */
  
  .art-mediums {
    grid-column: 1; grid-row: 1;
  }
  
  .digital-photography {
    grid-column: 1; grid-row: 2;
  }
  
  .watercolor {
    grid-column: 1; grid-row: 3;
  }
  
  .gouache {
    grid-column: 1; grid-row: 4;
  }
  
  .modelling-clay {
    grid-column: 1; grid-row: 5;
  }
  
  
  /* ### COLLABORATON SKILLS ************************************************************* */
  
  .collaboration-skills {
    grid-column: 1; grid-row: 1;
  }
  
  .google-drive {
    grid-column: 1; grid-row: 2;
  }
  
  .scheduling {
    grid-column: 1; grid-row: 3;
  }
  
  .coordinating {
    grid-column: 1; grid-row: 4;
  }
  
  .brainstorming {
    grid-column: 1; grid-row: 5;
  }
  
  .teamwork {
    grid-column: 1; grid-row: 6;
  }
  
  .feedback {
    grid-column: 1; grid-row: 7;
  }
  
  
  /* ### OTHER SKILLS ******************************************************************** */
  
  .other-skills {
    grid-column: 1; grid-row: 1;
  }
  
  .listening {
    grid-column: 1; grid-row: 2;
  }
  
  .public-speaking {
    grid-column: 1; grid-row: 3;
  }
  
  .scientific-writing {
    grid-column: 1; grid-row: 4;
  }
  
  .popular-writing {
    grid-column: 1; grid-row: 5;
  }
  
  .empathy {
    grid-column: 1; grid-row: 6;
  }

  .research {
    grid-column: 1; grid-row: 7;
  }
  
  .enthusiasm {
    grid-column: 1; grid-row: 8;
    align-self: start;
  }
}

/* ##  OVER 700PX ********************************************************************************** */

@media only screen and (min-width: 700px) {
  .grid-skill {
    display: grid;
    align-items: end;
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-columns: 30vw auto;
    grid-template-rows: 3vw;
    justify-items: start;
    margin-bottom: 5vw;

  }

  .subgrid-skill {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1vw;
    grid-template-columns: 10em 10em;
    grid-template-rows: 3vw;
    justify-items: start;
  }

  .skill-type {
    color: #622B8D;
    font-weight: 900;
    grid-column: 1;
    justify-self: stretch;
  }

  .skill-name {
    grid-column: 1; grid-row: 1;
  }

  .skill-level {
    grid-column: 2; grid-row: 1 ;
    height: 1.5em;
  }


  /* ### LANGUAGE SKILLS ***************************************************************** */

  .language-skills {
    grid-column: 1; grid-row: 1;
  }

  .english {
    grid-column: 2; grid-row: 1;
  }

  .spanish {
    grid-column: 2; grid-row: 2;
  }

  .galician {
    grid-column: 2; grid-row: 3;
  }

  .finnish {
    grid-column: 2; grid-row: 4;
  }

  .portuguese {
    grid-column: 2; grid-row: 5;
  }

  .html {
    grid-column: 2; grid-row: 6;
  }

  .css {
    grid-column: 2; grid-row: 7;
  }

  .csharp {
    grid-column: 2; grid-row: 8;
  }

  .r {
    grid-column: 2; grid-row: 9;
  }

  .javascript {
    grid-column: 2; grid-row: 10;
  }

  .binary {
    grid-column: 2; grid-row: 11;
  }


  /* ### IMAGE SKILLS */

  .image-skills {
    grid-column: 1; grid-row: 1;
  }

  .lightroom {
    grid-column: 2; grid-row: 1;
  }

  .indesign {
    grid-column: 2; grid-row: 2;
  }

  .gravit {
    grid-column: 2; grid-row: 3;
  }

  .photoshop {
    grid-column: 2; grid-row: 4;
  }

  .gimp {
    grid-column: 2; grid-row: 5;
  }

  /* ### VIDEO SKILLS ******************************************************************** */


  .video-skills {
    grid-column: 1; grid-row: 1;
  }

  .premiere {
    grid-column: 2; grid-row: 1;
  }

  .final-cut {
    grid-column: 2; grid-row: 2;
  }

  .after-effects {
    grid-column: 2; grid-row: 3;
  }

  .ar-studio {
    grid-column: 2; grid-row: 4;
  }


  /* ### GAME SKILLS */

  .game-skills {
    grid-column: 1; grid-row: 1;
  }

  .bitsy {
    grid-column: 2; grid-row: 1;
  }

  .twine {
    grid-column: 2; grid-row: 2;
  }

  .unity {
    grid-column: 2; grid-row: 3;
  }


  /* ### CITATION SKILLS ***************************************************************** */

  .citation-skills {
    grid-column: 1; grid-row: 1;
  }

  .zotero {
    grid-column: 2; grid-row: 1;
  }

  .refworks {
    grid-column: 2; grid-row: 2;
  }

  .endnote {
    grid-column: 2; grid-row: 3;
  }


  /* ### ART SKILLS ********************************************************************** */

  .art-skills {
    grid-column: 1; grid-row: 1;
  }

  .digital-photography {
    grid-column: 2; grid-row: 1;
  }

  .watercolor {
    grid-column: 2; grid-row: 2;
  }

  .gouache {
    grid-column: 2; grid-row: 3;
  }

  .modelling-clay {
    grid-column: 2; grid-row: 4;
  }


  /* ### COLLABORATION SKILLS ************************************************************ */

  .collaboration-skills {
    grid-column: 1; grid-row: 1;
  }

  .google-drive {
    grid-column: 2; grid-row: 1;
  }

  .scheduling {
    grid-column: 2; grid-row: 2;
  }

  .coordinating {
    grid-column: 2; grid-row: 3;
  }

  .brainstorming {
    grid-column: 2; grid-row: 4;
  }

  .teamwork {
    grid-column: 2; grid-row: 5;
  }

  .feedback {
    grid-column: 2; grid-row: 6;
  }


  /* ### OTHER SKILLS ******************************************************************** */

  .other-skills {
    grid-column: 1; grid-row: 1;
  }

  .active-listening {
    grid-column: 2; grid-row: 1;
  }

  .public-speaking {
    grid-column: 2; grid-row: 2;
  }

  .research {
    grid-column: 2; grid-row: 3;
  }

  .scientific-writing {
    grid-column: 2; grid-row: 4;
  }

  .popular-writing {
    grid-column: 2; grid-row: 5;
  }

  .empathy {
    grid-column: 2; grid-row: 6;
  }

  .enthusiasm {
    grid-column: 2; grid-row: 7;
    align-self: start;
  }
}

/* # INDEX TOP *********************************************************************************************** */

.hello {
  max-width: 14.5em;
}

.passions p {
  padding-bottom: 0.4em;
}

/* ## MAIN: ABOUT */
.about h2 {
  padding-bottom: 1em;
}

.about h3 {
  padding-bottom: 0.2em;
}

.about p {
  padding-bottom: 1.8em;
  padding-left: 1.5em;
}

/* # FORM **************************************************************************************************** */

form {
  font-size: 0.7rem;
  line-height: 3em;
}

input[type="text"] {
  width: 20vw;
  padding: 1em;
  margin: 1vw;
  box-sizing: border-box;
  font-size: 0.8em;
  display: inline-block;
  border: 1px solid #c3a1dd;
  background-color: white;
}

#other-pronoun {
  margin: 0 1.2vw;
  width: 13vw;
}

#email {
  width: 30vw;
}

fieldset {
  border: none;
  float: left;
}

.pronouns {
  float: left;
}

input[type="checkbox"] {
margin-left: 1vw;
} 

#they {
  margin-left: 2vw;
}

textarea {
  width: 55vw;
  height: 20vh;
  border: 1px solid #cfb4e3;
  background-color: white;
  color: #ab7ccf;
  font-size: 1em;
  padding: 1em;
}

::placeholder {
  color: #ab7ccf;
  opacity: 1;
}

input[type="submit"] {
  padding: 1.3vw 2vw;
  box-sizing: border-box;
  font-size: 1.1em;
  display: block;
  border: 1px solid #cfb4e3;
  background-color: #9356c1;
  color: white;
  margin-left: 48vw;
  } 